---
import SectionRendererHero from '@shared/components/sections/SectionRendererHero.astro';
import type { SectionColumns } from 'sheltify-lib/article-types.ts';
import RenderSectionTitle from 'article-renderer/components/RenderSectionTitle.svelte';
import RenderSectionText from 'article-renderer/components/RenderSectionText.svelte';
import RenderSectionAnimalList from 'article-renderer/components/RenderSectionAnimalList.svelte';
import RenderSectionImages from 'article-renderer/components/RenderSectionImages.svelte';
import "../article-renderer/styles/_index.scss"
import RenderSectionAnimalUpdates from 'article-renderer/components/RenderSectionAnimalUpdates.svelte';
import RenderSectionFile from 'article-renderer/components/RenderSectionFile.svelte';

interface Props {
  section: SectionColumns
}

const {section} = Astro.props;
---
<div class="column-row sui flex-x">
{
  section.Content.Columns.map(column => {

    const sections = column.Sections.map(section => {
      let comp;
      switch (section.SectionType) {
        case 'text':
          comp = <RenderSectionText section={section}/>;
          break;
        case 'title':
          comp = <RenderSectionTitle section={section}/>
          break;
        case 'separator-x':
          comp = <hr/>;
          break;
        case 'hero':
          comp = <SectionRendererHero isTopHero={false} section={section} client:visible/>;
          break;
        case 'animal-list':
          comp = <RenderSectionAnimalList section={section}/>;
          break;
        case 'image':
          comp = <RenderSectionImages section={section} client:load/>;
          break;
        case 'file':
          comp = <RenderSectionFile section={section} client:load/>;
          break;
        case 'animal-updates':
          comp = <RenderSectionAnimalUpdates section={section}/>;
          break;
        default:
          comp = <div>Sektionstyp nicht unterstützt</div>;
          break;
        }

      return <div class={`section-${section.SectionType} sui flex-x wrap`}>{comp}</div>;
      })
    return <div style={`flex: ${column.Grow} 1 0px`}  class="column">{sections}</div>
    })
}
</div>

<style lang="scss">
  .column-row {
    flex: 0 0 20px;
    gap: var(--section-gap-x);
    min-width: 300px;
  }

  .column {
    gap: var(--section-gap-y);
  }
</style>